<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <appSettings>
        <add key="inputSource" value="C:\Users\USER\Desktop\XMLMonitoringService\Input" />
        <add key="outputSource" value="C:\Users\USER\Desktop\XMLMonitoringService\log.txt" />
        <add key="timeInterval" value="1000" />
    </appSettings>
  
    <connectionStrings>
      <clear/>
      <add name="SqlServerConnectionString"
        connectionString="Trusted_Connection=True;database=XMLMonitoringService;server=VDL107"
        providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
</configuration>